body{
  background:linear-gradient(
    rgba(0,0,0,.6),
    rgba(0,0,0,.2),
    rgba(0,0,0,.6)
    ),url('./images/satelite.jpg');
  width: auto;
  height: 110px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 50px;
    background-color: rgb(51, 49, 49);
  }
  h1 {
    text-align: center;
    border: 2px solid;
    border-radius: 25px;
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 50px;
    font-style: italic;
    background-color: rgb(51, 49, 49);
  }
  
  button{
      width: 400px;
      height: 50px;
      margin: 150px;
      border: 2px solid white;
      border-radius: 50px;
      outline: none;
      background-color: white;
      justify-content: center;
      background-color: rgb(51, 49, 49);
      color: white;
      font-size: 22px;
      display: inline-block;
    }
  
  .images-container {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 65px;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-gap: 200px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
    align-content: center;
  }
  
  img {
    width: 150%;
    height: 120%;
    text-align: center;
    border: 5px double white;
    justify-content: center;
    display: block;
  }
  
  p {
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 50px; 
    text-transform: capitalize; 
    text-align: center;
    justify-content: center;
  }
  h2{
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 20px; 
    text-transform: capitalize; 
  }
  
  
  